crime-applications-adaptor/src/main/resources/xsd/efrom.xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fielddata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Fc_form_is_read_only" type="xs:boolean"/>
                <xs:element name="Fc_caseworker_completing_funding_decision_manually" type="xs:boolean"/>
                <xs:element name="Fc_eligible_for_staging_inject" type="xs:boolean"/>
                <xs:element name="Fc_eligible_for_return_inject" type="xs:boolean"/>
                <xs:element name="Fc_eligible_for_assessment_result_inject" type="xs:boolean"/>
                <xs:element name="Fc_maat_id_injected" type="xs:boolean"/>
                <xs:element name="Fc_staging_inject_result"/>
                <xs:element name="Fc_return_inject_result"/>
                <xs:element name="Fc_assessment_result_inject_result"/>
                <xs:element name="Fc_currentstage" type="xs:string"/>
                <xs:element name="Formtype" type="xs:string"/>
                <xs:element name="Xsd_name" type="xs:string"/>
                <xs:element name="Provider_uniquename" type="xs:string"/>
                <xs:element name="Provider_displayname" type="xs:string"/>
                <xs:element name="Provider_firm_id" type="xs:unsignedShort"/>
                <xs:element name="Usn" type="xs:unsignedInt"/>
                <xs:element name="Date_received" type="xs:dateTime"/>
                <xs:element name="Time_received" type="xs:time"/>
                <xs:element name="Submitter_language" type="xs:string"/>
                <xs:element name="Datestamp_usn" type="xs:unsignedInt"/>
                <xs:element name="Datestamp_date" type="xs:dateTime"/>
                <xs:element name="Datestamp_time" type="xs:time"/>
                <xs:element name="Datestamp_clientname" type="xs:string"/>
                <xs:element name="Datestamp_clientdob" type="xs:dateTime"/>
                <xs:element name="Application_type" type="xs:string"/>
                <xs:element name="Prev_app_maat_cifc"/>
                <xs:element name="Summary" type="xs:boolean"/>
                <xs:element name="Either_way" type="xs:boolean"/>
                <xs:element name="Indictable" type="xs:boolean"/>
                <xs:element name="Trial_in_crown_court" type="xs:boolean"/>
                <xs:element name="Committal" type="xs:boolean"/>
                <xs:element name="Appeal_to_crown_court" type="xs:boolean"/>
                <xs:element name="Appeal_no_changes" type="xs:boolean"/>
                <xs:element name="Prev_app_maat"/>
                <xs:element name="Court_originating" type="xs:string"/>
                <xs:element name="Court_originating_display" type="xs:string"/>
                <xs:element name="Court_name" type="xs:string"/>
                <xs:element name="Court_name_display" type="xs:string"/>
                <xs:element name="Priority" type="xs:string"/>
                <xs:element name="Custody" type="xs:boolean"/>
                <xs:element name="Vulnerable" type="xs:boolean"/>
                <xs:element name="Youth" type="xs:boolean"/>
                <xs:element name="Late_application_cc" type="xs:boolean"/>
                <xs:element name="Hearing_date_imminent" type="xs:boolean"/>
                <xs:element name="Title" type="xs:string"/>
                <xs:element name="Title_other"/>
                <xs:element name="Forenames" type="xs:string"/>
                <xs:element name="Other_names"/>
                <xs:element name="Surname" type="xs:string"/>
                <xs:element name="Date_of_birth" type="xs:dateTime"/>
                <xs:element name="Ni_number" type="xs:string"/>
                <xs:element name="Arc_number"/>
                <xs:element name="Welsh_corr_flag" type="xs:boolean"/>
                <xs:element name="Have_home_address" type="xs:string"/>
                <xs:element name="Home_address_1" type="xs:string"/>
                <xs:element name="Home_address_2"/>
                <xs:element name="Home_address_3" type="xs:string"/>
                <xs:element name="Home_postcode" type="xs:string"/>
                <xs:element name="What_contact_address" type="xs:string"/>
                <xs:element name="Contact_address_1"/>
                <xs:element name="Contact_address_2"/>
                <xs:element name="Contact_address_3"/>
                <xs:element name="Contact_postcode"/>
                <xs:element name="Email"/>
                <xs:element name="Phone_landline"/>
                <xs:element name="Phone_mobile"/>
                <xs:element name="Phone_work"/>
                <xs:element name="Home_address_type" type="xs:string"/>
                <xs:element name="Relationship_to_home_owner"/>
                <xs:element name="Under_18" type="xs:string"/>
                <xs:element name="Charged_with_adult"/>
                <xs:element name="Have_partner" type="xs:unsignedByte"/>
                <xs:element name="Marital_status" type="xs:string"/>
                <xs:element name="Marital_status_2"/>
                <xs:element name="Have_partner_copy" type="xs:unsignedByte"/>
                <xs:element name="Partner_title"/>
                <xs:element name="Partner_title_other"/>
                <xs:element name="Partner_forenames"/>
                <xs:element name="Partner_other_names"/>
                <xs:element name="Partner_surname"/>
                <xs:element name="Partner_ni"/>
                <xs:element name="Partner_arc"/>
                <xs:element name="Partner_involved_in_case"/>
                <xs:element name="Partner_involvement"/>
                <xs:element name="Partner_conflict_of_interest"/>
                <xs:element name="Partner_different_home"/>
                <xs:element name="Partner_usual_address_1"/>
                <xs:element name="Partner_usual_address_2"/>
                <xs:element name="Partner_usual_address_3"/>
                <xs:element name="Partner_usual_postcode"/>
                <xs:element name="Offence_type" type="xs:string"/>
                <xs:element name="Any_codefendants" type="xs:string"/>
                <xs:element name="Codefendants_details"/>
                <xs:element name="Why_not_rep_same_solicitor"/>
                <xs:element name="Why_not_rep_same_solicitor_reasons"/>
                <xs:element name="Other_cases" type="xs:string"/>
                <xs:element name="Other_case_charges"/>
                <xs:element name="Other_case_court"/>
                <xs:element name="Partner_other_case_charges"/>
                <xs:element name="Partner_other_case_court"/>
                <xs:element name="Hearing_date" type="xs:dateTime"/>
                <xs:element name="Case_type_calc" type="xs:unsignedByte"/>
                <xs:element name="Lose_liberty" type="xs:boolean"/>
                <xs:element name="Lose_liberty_details" type="xs:string"/>
                <xs:element name="Suspended_sentence" type="xs:boolean"/>
                <xs:element name="Suspended_sentence_details"/>
                <xs:element name="Lose_livelihood" type="xs:boolean"/>
                <xs:element name="Lose_livelihood_details"/>
                <xs:element name="Damage_reputation" type="xs:boolean"/>
                <xs:element name="Damage_reputation_details" type="xs:string"/>
                <xs:element name="Question_of_law" type="xs:boolean"/>
                <xs:element name="Question_of_law_details"/>
                <xs:element name="Cant_present_own_case" type="xs:boolean"/>
                <xs:element name="Cant_present_own_case_details" type="xs:string"/>
                <xs:element name="Witness_trace" type="xs:boolean"/>
                <xs:element name="Witness_trace_details"/>
                <xs:element name="Expert_cross_exam" type="xs:boolean"/>
                <xs:element name="Expert_cross_exam_details" type="xs:string"/>
                <xs:element name="Interests_of_another" type="xs:boolean"/>
                <xs:element name="Interests_of_another_details"/>
                <xs:element name="Other_reason_to_be_represented" type="xs:boolean"/>
                <xs:element name="Other_reason_to_be_represented_details"/>
                <xs:element name="Remanded_in_custody" type="xs:unsignedByte"/>
                <xs:element name="Heard_in_magistrates_court"/>
                <xs:element name="Employed" type="xs:unsignedByte"/>
                <xs:element name="Partner_employed"/>
                <xs:element name="Receive_benefits" type="xs:string"/>
                <xs:element name="Income_support" type="xs:boolean"/>
                <xs:element name="Esa" type="xs:boolean"/>
                <xs:element name="State_pension" type="xs:boolean"/>
                <xs:element name="Jsa" type="xs:boolean"/>
                <xs:element name="Income_support_partner" type="xs:boolean"/>
                <xs:element name="Esa_partner" type="xs:boolean"/>
                <xs:element name="State_pension_partner" type="xs:boolean"/>
                <xs:element name="Jsa_partner" type="xs:boolean"/>
                <xs:element name="Dwp_check_result" type="xs:string"/>
                <xs:element name="Who_dwp_checked"/>
                <xs:element name="Do_you_have_proof"/>
                <xs:element name="Private_company" type="xs:string"/>
                <xs:element name="Partner_private_company"/>
                <xs:element name="Income_over_set_amount" type="xs:string"/>
                <xs:element name="Wage_paid_every"/>
                <xs:element name="Wage_tax"/>
                <xs:element name="Partner_wage_paid_every"/>
                <xs:element name="Partner_wage_tax"/>
                <xs:element name="Child_benefit" type="xs:unsignedByte"/>
                <xs:element name="Child_benefit_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Partner_child_benefit" type="xs:unsignedByte"/>
                <xs:element name="Partner_child_benefit_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Tax_credits_amount" type="xs:unsignedByte"/>
                <xs:element name="Tax_credits_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Partner_tax_credits_amount" type="xs:unsignedByte"/>
                <xs:element name="Partner_tax_credits_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Universal_credit" type="xs:unsignedByte"/>
                <xs:element name="Universal_credit_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Partner_universal_credit" type="xs:unsignedByte"/>
                <xs:element name="Partner_universal_credit_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Other_benefits_paid_every"/>
                <xs:element name="Partner_other_benefits_paid_every"/>
                <xs:element name="Maintenance" type="xs:unsignedByte"/>
                <xs:element name="Maintenance_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Partner_maintenance" type="xs:unsignedByte"/>
                <xs:element name="Partner_maintenance_paid_every"/>
                <xs:element name="Pensions_paid_every"/>
                <xs:element name="Partner_pensions_paid_every"/>
                <xs:element name="Other_income_paid_every"/>
                <xs:element name="Other_income_source"/>
                <xs:element name="Partner_other_income_paid_every"/>
                <xs:element name="Partner_other_income_source"/>
                <xs:element name="Freezing_order"/>
                <xs:element name="Own_land_or_property"/>
                <xs:element name="Savings_or_investments"/>
                <xs:element name="How_pay_bills"/>
                <xs:element name="Employers_crm15" type="xs:unsignedByte"/>
                <xs:element name="Self_assessment_tax_received" type="xs:string"/>
                <xs:element name="Partner_self_assessment_tax_received"/>
                <xs:element name="Tax_liability_paid_every"/>
                <xs:element name="Partner_tax_liability_paid_every"/>
                <xs:element name="Non_cash_benefit" type="xs:string"/>
                <xs:element name="Partner_non_cash_benefit"/>
                <xs:element name="Receiving_benefits_2" type="xs:string"/>
                <xs:element name="Partner_receiving_benefits_2"/>
                <xs:element name="State_pension_crm15_paid_every"/>
                <xs:element name="Child_benefit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Child_benefit_crm15_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Tax_credit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Tax_credit_crm15_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Universal_credit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Universal_credit_crm15_paid_every"/>
                <xs:element name="Incapacity_benefit_crm15_paid_every"/>
                <xs:element name="Disablement_benefit_crm15_paid_every"/>
                <xs:element name="Jsa_crm15_paid_every"/>
                <xs:element name="Other_benefits_crm15_details"/>
                <xs:element name="Other_benefits_crm15_paid_every"/>
                <xs:element name="Partner_state_pension_crm15_paid_every"/>
                <xs:element name="Partner_child_benefit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Partner_child_benefit_crm15_paid_every"/>
                <xs:element name="Partner_tax_credit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Partner_tax_credit_crm15_paid_every"/>
                <xs:element name="Partner_universal_credit_crm15" type="xs:unsignedByte"/>
                <xs:element name="Partner_universal_credit_crm15_paid_every"/>
                <xs:element name="Partner_incapacity_benefit_crm15_paid_every"/>
                <xs:element name="Partner_disablement_benefit_crm15_paid_every"/>
                <xs:element name="Partner_jsa_crm15_paid_every"/>
                <xs:element name="Partner_other_benefits_crm15_details"/>
                <xs:element name="Partner_other_benefits_crm15_paid_every"/>
                <xs:element name="Year_8_to_10" type="xs:unsignedByte"/>
                <xs:element name="Year_13_to_15" type="xs:unsignedByte"/>
                <xs:element name="Receive_pension" type="xs:string"/>
                <xs:element name="Partner_receive_pension"/>
                <xs:element name="Total_pension_paid_every"/>
                <xs:element name="Partner_total_pension_paid_every"/>
                <xs:element name="Receive_maintenance_payments" type="xs:string"/>
                <xs:element name="Partner_receive_maintenance_payments"/>
                <xs:element name="Maintenance_payment" type="xs:unsignedByte"/>
                <xs:element name="Maintenance_payment_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Partner_maintenance_payment" type="xs:unsignedByte"/>
                <xs:element name="Partner_maintenance_payment_paid_every"/>
                <xs:element name="Receive_interest" type="xs:string"/>
                <xs:element name="Partner_receive_interest"/>
                <xs:element name="Interest_paid_every"/>
                <xs:element name="Partner_interest_paid_every"/>
                <xs:element name="Income_from_other_sources" type="xs:string"/>
                <xs:element name="Partner_income_from_other_sources"/>
                <xs:element name="Student_loan" type="xs:boolean"/>
                <xs:element name="Family_rent" type="xs:boolean"/>
                <xs:element name="Other_rent" type="xs:boolean"/>
                <xs:element name="Other_financial_support" type="xs:boolean"/>
                <xs:element name="Other_income_crm15"/>
                <xs:element name="Total_amount_received_every"/>
                <xs:element name="Partner_student_loan" type="xs:boolean"/>
                <xs:element name="Partner_family_rent" type="xs:boolean"/>
                <xs:element name="Partner_other_rent" type="xs:boolean"/>
                <xs:element name="Partner_other_financial_support" type="xs:boolean"/>
                <xs:element name="Partner_other_income_crm15"/>
                <xs:element name="Partner_total_amount_received_every"/>
                <xs:element name="Prev_answers_no_other_income" type="xs:string"/>
                <xs:element name="How_pay_bills_crm15"/>
                <xs:element name="Home_or_rent_payment" type="xs:string"/>
                <xs:element name="Mortgage_rent_paid_every"/>
                <xs:element name="Council_tax_paid_every"/>
                <xs:element name="Board_and_lodgings" type="xs:unsignedByte"/>
                <xs:element name="Board_and_lodgings_paid_every" type="xs:unsignedByte"/>
                <xs:element name="Food_bill" type="xs:unsignedByte"/>
                <xs:element name="Food_bill_every" type="xs:unsignedByte"/>
                <xs:element name="Board_and_lodgings_landlord" type="xs:string"/>
                <xs:element name="Board_lodgings_landlord_relationship" type="xs:string"/>
                <xs:element name="Childcare_costs" type="xs:string"/>
                <xs:element name="Childcare_costs_paid_every"/>
                <xs:element name="Pay_maintenance" type="xs:string"/>
                <xs:element name="Maintenance_amount_paid_every"/>
                <xs:element name="Contribute_legal_aid" type="xs:string"/>
                <xs:element name="Legal_aid_contribution_paid_every"/>
                <xs:element name="Legal_aid_contribution_ref"/>
                <xs:element name="Paid_40_percent_tax" type="xs:string"/>
                <xs:element name="Partner_paid_40_percent_tax"/>
                <xs:element name="Indictable_offence" type="xs:unsignedByte"/>
                <xs:element name="Own_property"/>
                <xs:element name="Partner_own_property"/>
                <xs:element name="Salary_paid_into_account"/>
                <xs:element name="Partner_salary_paid_into_account"/>
                <xs:element name="Salary_account"/>
                <xs:element name="Partner_salary_account"/>
                <xs:element name="Premium_bonds"/>
                <xs:element name="Partner_premium_bonds"/>
                <xs:element name="National_savings_certificates"/>
                <xs:element name="Partner_national_savings_certificates"/>
                <xs:element name="Trust_fund" type="xs:string"/>
                <xs:element name="Partner_trust_fund"/>
                <xs:element name="Freezing_order_crm15" type="xs:string"/>
                <xs:element name="Partner_freezing_order_crm15"/>
                <xs:element name="Own_car" type="xs:string"/>
                <xs:element name="Total_file_size_bytes" type="xs:unsignedByte"/>
                <xs:element name="Total_file_size_mb" type="xs:unsignedByte"/>
                <xs:element name="Additional_attachments" type="xs:boolean"/>
                <xs:element name="Firm_office" type="xs:string"/>
                <xs:element name="Legal_rep_laa_account" type="xs:string"/>
                <xs:element name="Solicitor_title" type="xs:string"/>
                <xs:element name="Solicitor_title_other"/>
                <xs:element name="Legal_rep_fullname" type="xs:string"/>
                <xs:element name="Solicitor_firm" type="xs:string"/>
                <xs:element name="Solicitor_address_1" type="xs:string"/>
                <xs:element name="Solicitor_address_2"/>
                <xs:element name="Solicitor_address_3"/>
                <xs:element name="Solicitor_postcode"/>
                <xs:element name="Solicitor_phone_landline" type="xs:string"/>
                <xs:element name="Solicitor_phone_mobile"/>
                <xs:element name="Solicitor_firm_dx"/>
                <xs:element name="Solicitor_fax"/>
                <xs:element name="Solicitor_email" type="xs:string"/>
                <xs:element name="Firm_administrator_email"/>
                <xs:element name="Legal_rep_declaration" type="xs:string"/>
                <xs:element name="Legal_rep_declaration_2"/>
                <xs:element name="Legal_rep_declaration_confirm" type="xs:boolean"/>
                <xs:element name="Legal_rep_sign"/>
                <xs:element name="Legal_rep_sign_date" type="xs:dateTime"/>
                <xs:element name="Gender" type="xs:string"/>
                <xs:element name="Disabled" type="xs:string"/>
                <xs:element name="Disabled_definition"/>
                <xs:element name="British" type="xs:boolean"/>
                <xs:element name="Irish" type="xs:boolean"/>
                <xs:element name="White_other" type="xs:boolean"/>
                <xs:element name="White_and_black_caribbean" type="xs:boolean"/>
                <xs:element name="White_and_black_african" type="xs:boolean"/>
                <xs:element name="White_and_asian" type="xs:boolean"/>
                <xs:element name="Mixed_other" type="xs:boolean"/>
                <xs:element name="Indian" type="xs:boolean"/>
                <xs:element name="Pakistani" type="xs:boolean"/>
                <xs:element name="Bangladeshi" type="xs:boolean"/>
                <xs:element name="Asian_other" type="xs:boolean"/>
                <xs:element name="Black_caribbean" type="xs:boolean"/>
                <xs:element name="Black_african" type="xs:boolean"/>
                <xs:element name="Black_other" type="xs:boolean"/>
                <xs:element name="Chinese" type="xs:boolean"/>
                <xs:element name="Gypsy_or_traveller" type="xs:boolean"/>
                <xs:element name="Other_ethnicity" type="xs:boolean"/>
                <xs:element name="Prefer_not_to_say_ethnicity" type="xs:boolean"/>
                <xs:element name="Applicant_confirm_read" type="xs:boolean"/>
                <xs:element name="User_signed_name" type="xs:string"/>
                <xs:element name="User_signed_date" type="xs:dateTime"/>
                <xs:element name="Partner_confirm_read" type="xs:boolean"/>
                <xs:element name="Why_partner_no_sign"/>
                <xs:element name="Partner_sign_fullname"/>
                <xs:element name="Partner_sign_date" type="xs:dateTime"/>
                <xs:element name="Provider_sign"/>
                <xs:element name="Charges_brought">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Charge" type="xs:string"/>
                                        <xs:element name="Offence_when" type="xs:string"/>
                                        <xs:element name="Offence_date_2" type="xs:dateTime"/>
                                        <xs:element name="Offence_date_3" type="xs:dateTime"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Employment_details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Employers_name" type="xs:string"/>
                                        <xs:element name="Employers_address_1" type="xs:string"/>
                                        <xs:element name="Employers_address_2" type="xs:string"/>
                                        <xs:element name="Employers_address_3"/>
                                        <xs:element name="Employers_postcode"/>
                                        <xs:element name="Job_title" type="xs:string"/>
                                        <xs:element name="Name_and_job_title_display" type="xs:string"/>
                                        <xs:element name="Address_display" type="xs:string"/>
                                        <xs:element name="Salary" type="xs:unsignedShort"/>
                                        <xs:element name="Salary_paid_every" type="xs:unsignedByte"/>
                                        <xs:element name="Salary_tax" type="xs:unsignedByte"/>
                                        <xs:element name="Salary_display" type="xs:string"/>
                                        <xs:element name="Income_tax" type="xs:unsignedByte"/>
                                        <xs:element name="Income_tax_paid_every" type="xs:unsignedByte"/>
                                        <xs:element name="National_insurance" type="xs:unsignedByte"/>
                                        <xs:element name="National_insurance_paid_every" type="xs:unsignedByte"/>
                                        <xs:element name="Other_deduction_paid_every"/>
                                        <xs:element name="Other_deduction_details"/>
                                        <xs:element name="Deductions_display" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Tblprocessedattachments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="row">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Dtsubmitted" type="xs:string"/>
                                        <xs:element name="Filename" type="xs:string"/>
                                        <xs:element name="File_size_bytes" type="xs:unsignedInt"/>
                                        <xs:element name="File_size_mb" type="xs:decimal"/>
                                        <xs:element name="Evidence_type" type="xs:string"/>
                                        <xs:element name="Provider_notes"/>
                                        <xs:element name="Status" type="xs:string"/>
                                        <xs:element name="Caseworker_notes"/>
                                        <xs:element name="Dtprocessed" type="xs:string"/>
                                        <xs:element name="Provider_firm_id" type="xs:unsignedShort"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="laaAdded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CaseType" type="xs:string"/>
                            <xs:element name="employmentStatus" type="xs:string"/>
                            <xs:element name="employmentIncome">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Salary">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="amt" type="xs:unsignedShort"/>
                                                                <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="benefitsFromWork">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="childBenefit">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="taxCredits">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="otherBenefits">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="maintenance">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="otherIncome">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="statePension">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="partner">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="childWeightings">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Year_1"/>
                                        <xs:element name="Year_2_to_4"/>
                                        <xs:element name="Year_5_to_7"/>
                                        <xs:element name="Year_8_to_10" type="xs:unsignedByte"/>
                                        <xs:element name="Year_11_to_12"/>
                                        <xs:element name="Year_13_to_15" type="xs:unsignedByte"/>
                                        <xs:element name="Year_16_to_18"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="OtherHousingFees">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt" type="xs:unsignedByte"/>
                                                    <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="otherContributions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="amt"/>
                                                    <xs:element name="annualWeight"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Tax">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Income_tax">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="amt" type="xs:unsignedShort"/>
                                                                <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NI">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Applicant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="National_insurance">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="amt" type="xs:unsignedShort"/>
                                                                <xs:element name="annualWeight" type="xs:unsignedByte"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ResidentStatus" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>